<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About Us</h2>
                    <h3 class="section-subheading text-muted">A mostly accurate retelling of our relationship so far</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/gaslight.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>January 6, 2013</h4>
                                    <h4 class="subheading">Our First Date</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Sunah paid a dollar to message Laura since Laura was too popular on the dating site where we met. We agreed to go to Gaslight Roasters on our first date. Sunah nearly fell out of her chair when we realized we'd gone to the same grad program together at the same time.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/uhaul.png" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>August 2013</h4>
                                    <h4 class="subheading">Moving In Together</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">We fulfill our lesbian destiny by moving in together after just 8 months of dating. No U-Hauls were harmed in the retelling of this story.</p>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/engaged.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>June 15, 2014</h4>
                                    <h4 class="subheading">Engaged!</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Sunah was away in New York on a particularly long business trip when Laura told her that the rings were ready! One impromptu plane ticket later, we got engaged in Central Park.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/kiss.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>September 5, 2015</h4>
                                    <h4 class="subheading">Getting Married</h4>
                                </div>
                                <div class="timeline-body">
                                  <p class="text-muted">Hey wait, we have details for this <a class="page-scroll" href="#event">here</a></p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h5>The
                                    <br>journey
                                    <br>continues..</h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
