<!-- Services Section -->
    <section id="event">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">The Event</h2>
                    <h3 class="section-subheading text-muted">Essential details for our reception</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-calendar fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Date & Time</h4>
                    <p class="text-muted">The reception will begin at 7pm on Saturday, September 5, but come when you'd like -- there will be no formal schedule. The afterparty will begin at 11pm at a location TBA.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-map-marker fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Location</h4>
                    <p class="text-muted">Lillstreet Loft is located at <a href="https://goo.gl/maps/uJUfy">4437 N Ravenswood Ave</a>. It's a short walk from the CTA Montrose Brown Line or Metra Union-Pacific North Ravenswood stop. There is plenty of parking along the Metra track in front of the venue (but we plan to get you all drunk so plan accordingly). Please note at the loft is at the top of a narrow flight of stairs.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-glass fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">The Party</h4>
                    <p class="text-muted">The reception will include dinner, drinks and dancing. There won't be seating for everybody at once, so your lesbian hosts recommend you wear sensible shoes. Details about the afterparty to be announced at the event.</p>
                </div>
            </div>
        </div>
    </section>
